.wrap_Todo {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
.ant-scroll-number{
    z-index: 100 !important;
}